.main {
  font-family: Arial;
  background: url("https://i.imgur.com/WtJzLgg.jpg");

  display: grid;
  min-width: 800px;
  grid-gap: 3px;
  grid-template-columns: 90px 230px 230px 230px;
  grid-template-rows: 130px 1fr;
  grid-template-areas:"header  header  header  header"
                      "sidebar  skills  core  bio";
}

/***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****
***** ***** ***** ***** ***** ***** ***** HEADER ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****/
.header {
  grid-area: header;
  background: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/licensedsheet/CharScroll.svg");
  background-repeat: no-repeat;
}

.charbox {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/licensedsheet/CharBox.svg");
  background-repeat: no-repeat;

  display: grid;
  grid-column-gap: 3px;
  padding-top: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 40px;
  grid-template-areas:"race level pronouns"
                      "playername alignment charbg";
}

.charbox input {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 0px;
}

.charbox span {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  font-size: 8pt;
  padding: 0px 0px 0px 0px;
}

.pronouns { grid-area: pronouns; }
.race { grid-area: race; }
.level { grid-area: level; }
.playername { grid-area: playername; }
.alignment { grid-area: alignment; }
.charbg { grid-area: charbg; }

.header label {
  padding: 55px 0px 0px 55px;
}

.header input {
  background: transparent;
  border: none;
}

/***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****
***** ***** ***** ***** ***** ***** ***** SIDBAR ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****/
.sidebar {
  grid-area: sidebar;

  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: 655px 1fr 1fr;
  grid-template-areas:"scores"
                      "weapons"
                      "armor";
}

/*---SIDEBAR - SCORES---*/
.scores {
  grid-area: scores;
  background-image: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/licensedsheet/ability-back.svg");
  background-repeat: no-repeat;
  background-size: 90px 650px;
  height: 600px;
  padding-top: 25px;
  padding-bottom: 25px;

  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: 90px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"str"
                      "dex"
                      "con"
                      "int"
                      "wis"
                      "cha";
}

.score {
  font-size: 14pt;
  padding: 0px;
  margin-top: 5px;
}

.score-mod {
  font-size: 26pt;
}

.str {
  grid-area: str;
  background-image: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/licensedsheet/ability-STR.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: 30px 30px 35px;
  grid-template-areas:"strlabel"
                      "strmod"
                      "strscore"
}

.strlabel { grid-area: strlabel; }
.strmod { grid-area: strmod; }
.strscore { grid-area: strscore; }

.dex {
  grid-area: dex;
  background-image: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/licensedsheet/ability-DEX.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: 30px 30px 35px;
  grid-template-areas:"dexlabel"
                      "dexmod"
                      "dexscore"
}

.dexlabel { grid-area: dexlabel; }
.dexmod { grid-area: dexmod; }
.dexscore { grid-area: dexscore; }

.con {
  grid-area: con;
  background-image: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/licensedsheet/ability-CNS.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: 30px 30px 35px;
  grid-template-areas:"conlabel"
                      "conmod"
                      "conscore"
}

.conlabel { grid-area: conlabel; }
.conmod { grid-area: conmod; }
.conscore { grid-area: conscore; }

.int {
  grid-area: int;  
  background-image: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/licensedsheet/ability-INT.svg");
  background-repeat: no-repeat;
  background-position: center;
  
  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: 30px 30px 35px;
  grid-template-areas:"intlabel"
                      "intmod"
                      "intscore"
}

.intlabel { grid-area: intlabel; }
.intmod { grid-area: intmod; }
.intscore { grid-area: intscore; }

.wis {
  grid-area: wis;
  background-image: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/licensedsheet/ability-WIS.svg");
  background-repeat: no-repeat;
  background-position: center;
  
  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: 30px 30px 35px;
  grid-template-areas:"wislabel"
                      "wismod"
                      "wisscore"
}

.wislabel { grid-area: wislabel; }
.wismod { grid-area: wismod; }
.wisscore { grid-area: wisscore; }

.cha {
  grid-area: cha;
  background-image: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/licensedsheet/ability-CHA.svg");
  background-repeat: no-repeat;
  background-position: center;
  
  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: 30px 30px 35px;
  grid-template-areas:"chalabel"
                      "chamod"
                      "chascore"
}

.chalabel { grid-area: chalabel; }
.chamod { grid-area: chamod; }
.chascore { grid-area: chascore; }


.ability-score label {
  padding-top: 5px;
  font-size: 16pt;
  width: 100%;
  text-align: center;
}

.ability-score input {
  background: transparent;
  border: none;
  width: 90px;
  text-align: center;
}

/***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****
***** ***** ***** ***** ***** ***** ***** SAVES SKILLS TOOLS***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****/
.skills {
  grid-area: skills;

  display: grid;
  grid-row-gap: 3px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:"saves inspprof"
                      "skilllist skilllist"
                      "tools tools";
}

.skills select {
  height: 20px;
  width: 40px; 
  font-size: 12px;
  border: 0;
  padding: 0;
  margin: 0;

  /* for Firefox */ 
  -moz-appearance: none; 
  /* for Safari, Chrome, Opera */ 
  -webkit-appearance: none; 
}

.skills input {
  margin-left: 5px;
}

.skills select {
  margin-right: 5px;
}

.inspprof {
  grid-area: inspprof;

  display: grid;
  grid-row-gap: 1px;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:"insp"
                      "prof";
}

.insp { grid-area: insp; }
.prof { grid-area: prof; }

.saves {
  grid-area: saves;
  padding-bottom: 5px;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: repeat(7, 20px);
  grid-template-areas:"savelabel savelabel savelabel"
                      "strprof strsavemod strbutton"
                      "dexprof dexsavemod dexlabel"
                      "conprof consavemod conbutton"
                      "intprof intsavemod intbutton"
                      "wisprof wissavemod wisbutton"
                      "chaprof chasavemod chalabel";
}

.savelabel {
  grid-area: savelabel;   
  margin: auto;
  text-align: center;
}

.strprof { grid-area: strprof; }
.strsavemod { grid-area: strsavemod; }
.strbutton { grid-area: strbutton; }

.dexprof { grid-area: dexprof; }
.dexsavemod { grid-area: dexsavemod; }
.dexlabel { grid-area: dexlabel; }

.conprof { grid-area: conprof; }
.consavemod { grid-area: consavemod; }
.conbutton { grid-area: conbutton; }

.intprof { grid-area: intprof; }
.intsavemod { grid-area: intsavemod; }
.intbutton { grid-area: intbutton; }

.wisprof { grid-area: wisprof; }
.wissavemod { grid-area: wissavemod; }
.wisbutton { grid-area: wisbutton; }

.chaprof { grid-area: chaprof; }
.chasavemod { grid-area: chasavemod; }
.chalabel { grid-area: chalabel; }

.skilllist {
  grid-area: skilllist;
  padding-bottom: 5px;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 6fr 2fr;
  grid-template-rows: repeat(13, 20px);
  grid-template-areas:"skillslabel skillslabel skillslabel skillslabel"
                      "acroprof acromod acrobutton acroability"
                      "athlprof athlmod athlbutton athlability"
                      "anhnprof anhnmod anhnbutton anhnability"
                      "insiprof insimod insibutton insiability"
                      "intiprof intimod intibutton intiability"
                      "knowprof knowmod knowbutton knowability"
                      "mediprof medimod medibutton mediability"
                      "natrprof natrmod natrbutton natrability"
                      "srchprof srchmod srchbutton srchability"
                      "spcfprof spcfmod spcfbutton spcfability"
                      "stlhprof stlhmod stlhbutton stlhability"
                      "swimprof swimmod swimbutton swimability";
}

.skillslabel {
  grid-area: skillslabel;   
  margin: auto;
  text-align: center;
}

.acroprof { grid-area: acroprof; }
.acromod { grid-area: acromod; }
.acrobutton { grid-area: acrobutton; }
.acroability { grid-area: acroability; }

.athlprof { grid-area: athlprof; }
.athlmod { grid-area: athlmod; }
.athllabel { grid-area: athllabel; }
.athlability { grid-area: athlability; }

.anhnprof { grid-area: anhnprof; }
.anhnmod { grid-area: anhnmod; }
.anhnbutton { grid-area: anhnbutton; }
.anhnability { grid-area: anhnability; }

.insiprof { grid-area: insiprof; }
.insimod { grid-area: insimod; }
.insibutton { grid-area: insibutton; }
.insiability { grid-area: insiability; }

.intiprof { grid-area: intiprof; }
.intimod { grid-area: intimod; }
.intibutton { grid-area: intibutton; }
.intiability { grid-area: intiability; }

.knowprof { grid-area: knowprof; }
.knowmod { grid-area: knowmod; }
.knowlabel { grid-area: knowlabel; }
.knowability { grid-area: knowability; }

.mediprof { grid-area: mediprof; }
.medimod { grid-area: medimod; }
.medibutton { grid-area: medibutton; }
.acroability { grid-area: acroability; }

.natrprof { grid-area: natrprof; }
.natrmod { grid-area: natrmod; }
.natrbutton { grid-area: natrbutton; }
.natrability { grid-area: natrability; }

.srchprof { grid-area: srchprof; }
.srchmod { grid-area: srchmod; }
.srchbutton { grid-area: srchbutton; }
.srchability { grid-area: srchability; }

.spcfprof { grid-area: spcfprof; }
.spcfmod { grid-area: spcfmod; }
.spcfbutton { grid-area: spcfbutton; }
.spcfhability { grid-area: spcfability; }

.stlhprof { grid-area: stlhprof; }
.stlhmod { grid-area: stlhmod; }
.stlhbutton { grid-area: stlhbutton; }
.stlhability { grid-area: stlhability; }

.swimprof { grid-area: swimprof; }
.swimmod { grid-area: swimmod; }
.swimbutton { grid-area: swimbutton; }
.swimability { grid-area: swimability; }

.tools {
  grid-area: tools;
  padding-bottom: 5px;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 6fr 2fr;
  grid-template-rows: repeat(19, 20px);
  grid-template-areas:"toolslabel toolslabel toolslabel toolslabel"
                      "alchprof alchmod alchbutton alchability"
                      "brewprof brewmod brewbutton brewability"
                      "cligprof cligmod cligbutton cligability"
                      "cpntprof cpntmod cpntbutton cpntability"
                      "crtgprof crtgmod crtgbutton crtgability"
                      "cobbprof cobbmod cobbbutton cobbability"
                      "cookprof cookmod cookbutton cookability"
                      "glbwprof glbwmod glbwbutton glbwability"
                      "jwlrprof jwlrmod jwlrbutton jwlrability"
                      "lthrprof lthrmod lthrbutton lthrability"
                      "masnprof masnmod masnbutton masnability"
                      "muscprof muscmod muscbutton muscability"
                      "pntrprof pntrmod pntrbutton pntrability"
                      "pttrprof pttrmod pttrbutton pttrability"
                      "smthprof smthmod smthbutton smthability"
                      "tnkrprof tnkrmod tnkrbutton tnkrability"
                      "wevrprof wevrmod wevrbutton wevrability"
                      "wcrvprof wcrvmod wcrvbutton wrcvability";
}

.toolslabel {
  grid-area: toolslabel;   
  margin: auto;
}

.alchprof { grid-area: alchprof; }
.alchmod { grid-area: alchmod; }
.alchbutton { grid-area: alchbutton; }
.alchability { grid-area: alchability; }

.brewprof { grid-area: brewprof; }
.brewmod { grid-area: brewmod; }
.brewbutton { grid-area: brewbutton; }
.brewability { grid-area: brewability; }

.cligprof { grid-area: cligprof; }
.cligmod { grid-area: cligmod; }
.cligbutton { grid-area: cligbutton; }
.cligability { grid-area: cligability; }

.cpntprof { grid-area: cpntprof; }
.cpntmod { grid-area: cpntmod; }
.cpntbutton { grid-area: cpntbutton; }
.cpntability { grid-area: cpntability; }

.crtgprof { grid-area: crtgprof; }
.crtgmod { grid-area: crtgmod; }
.crtgbutton { grid-area: crtgbutton; }
.crtgability { grid-area: crtgability; }

.cobbprof { grid-area: cobbprof; }
.cobbmod { grid-area: cobbmod; }
.cobbbutton { grid-area: cobbbutton; }
.cobbability { grid-area: cobbability; }

.cookprof { grid-area: cookprof; }
.cookmod { grid-area: cookmod; }
.cookbutton { grid-area: cookbutton; }
.cookability { grid-area: cookability; }

.glbwprof { grid-area: glbwprof; }
.glbwmod { grid-area: glbwmod; }
.glbwbutton { grid-area: glbwbutton; }
.glbwability { grid-area: glbwability; }

.jwlrprof { grid-area: jwlrprof; }
.jwlrmod { grid-area: jwlrmod; }
.jwlrbutton { grid-area: jwlrbutton; }
.jwlrability { grid-area: jwlrability; }

.lthrprof { grid-area: lthrprof; }
.lthrmod { grid-area: lthrmod; }
.lthrbutton { grid-area: lthrbutton; }
.lthrability { grid-area: lthrability; }

.masnprof { grid-area: masnprof; }
.masnmod { grid-area: masnmod; }
.masnbutton { grid-area: masnbutton; }
.masnability { grid-area: masnability; }

.muscprof { grid-area: muscprof; }
.muscmod { grid-area: muscmod; }
.muscbutton { grid-area: muscbutton; }
.muscability { grid-area: muscability; }

.pntrprof { grid-area: pntrprof; }
.pntrmod { grid-area: pntrmod; }
.pntrbutton { grid-area: pntrbutton; }
.pntrability { grid-area: pntrability; }

.pttrprof { grid-area: pttrprof; }
.pttrmod { grid-area: pttrmod; }
.pttrbutton { grid-area: pttrbutton; }
.pttrability { grid-area: pttrability; }

.smthprof { grid-area: smthprof; }
.smthmod { grid-area: smthmod; }
.smthbutton { grid-area: smthbutton; }
.smthability { grid-area: smthability; }

.tnkrprof { grid-area: tnkrprof; }
.tnkrmod { grid-area: tnkrmod; }
.tnkrbutton { grid-area: tnkrbutton; }
.tnkrability { grid-area: tnkrability; }

.wevrprof { grid-area: wevrprof; }
.wevrmod { grid-area: wevrmod; }
.wevrbutton { grid-area: wevrbutton; }
.wevrability { grid-area: wevrability; }

.wcrvprof { grid-area: wcrvprof; }
.wcrvmod { grid-area: wcrvmod; }
.wcrvbutton { grid-area: wcrvbutton; }
.wrcvability { grid-area: wrcvability; }


/***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****
***** ***** ***** ***** ***** ***** ***** SHORTCUTS & INV  ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****/
.core {
  grid-area: core;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 1fr 1fr;
  grid-template-areas:"vitals"
                      "shortcuts"
                      "inventory";
}


/*---CORE - vitals---*/
.vitals {
  grid-area: vitals;  

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85px 85px 85px;
  grid-template-areas:"vitals-one"
                      "vitals-two"
                      "vitals-three";
}

.vital label {
  margin: 0;
  font-size: 8pt;
  margin: 1px;
}

.vital input {  
  font-size: 24pt;
  background: transparent;
  border: none;
  width: 100%;
}

.vitals-one {
  grid-area: vitals-one;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:"ac init speed";
}

.ac { grid-area: ac; }
.init { grid-area: init; }
.speed { grid-area: speed; }


.vitals-two {
  grid-area: vitals-two;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:"hpmax hpcurr hptemp";
}

.hpmax { grid-area: hpmax; }
.hpcurr { grid-area: hpcurr; }
.hptemp { grid-area: hptemp; }


.vitals-three {
  grid-area: vitals-three;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:"hitdice deathsv";
}


.hitdice { grid-area: hitdice; }

.deathsv {  
  grid-area: deathsv; 

  display: grid;
  grid-gap: 2px;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 25px 25px 30px;
  grid-template-areas:"success succ1 succ2 succ3"
                      "failure fail1 fail2 fail3"
                      "dslabel dslabel dslabel dslabel"
}

.deathsv label{
  width: 100%;
  vertical-align: bottom;
  padding: 0px;
  text-align: center;
}

.deathsv span {
  padding: 3px 0px 0px 3px;
}

.deathsv input {
  margin: auto;
  padding: 3px 3px 3px 3px;
}

.success { 
  grid-area: success; 
}

.failure { 
  grid-area: failure;

}
.succ1 { grid-area: succ1; }
.succ2 { grid-area: succ2; }
.succ3 { grid-area: succ3; }
.fail1 { grid-area: fail1; }
.fail2 { grid-area: fail2; }
.fail3 { grid-area: fail3; }
.dslabel { grid-area: dslabel; }


/*---CORE - SHORTCUTS---*/
.shortcuts {
  grid-area: shortcuts;
  /*background: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/4RCRsAd.png");*/
  background-repeat: no-repeat;
  min-height: 150px;
}

/*---CORE - INVENTORY---*/
.inventory {
  grid-area: inventory;
  min-height: 150px;
}

/***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****
***** ***** ***** ***** ***** ***** ***** BIOGRAPHY ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****/
.bio {
  grid-area: bio;

  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 360px auto;
  grid-template-areas:"levels"
                      "appearance"
                      "personality"
                      "languages";
}

.bio input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.levels { grid-area: levels; }

.appearance { 
  grid-area: appearance; 

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr 1fr 1fr;
  grid-template-areas:"appearancelabel appearancelabel"
                      "age size"
                      "charheight charweight"
                      "eyes hair"
                      "skin marks";
}

.appearance input {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 0px;
}

.appearance span {
  display: block;
  text-align: center;
  margin-bottom: 0px;
  text-align: center;
  font-size: 8pt;
  padding: 0px 0px 0px 0px;
}

.appearance label {
  font-size: 8pt;
  vertical-align: top;
  padding: 0px;
  text-align: center;
}

.appearancelabel { grid-area: appearancelabel; }
.age { grid-area: age; }
.size { grid-area: size; }
.charheight { grid-area: charheight; }
.charweight { grid-area: charweight; }
.eyes { grid-area: eyes; }
.hair { grid-area: hair; }
.skin { grid-area: skin; }
.marks { grid-area: marks; }


.personality {
  grid-area: personality; 

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 90px 90px 90px;
  grid-template-areas:"trait"
                      "ideal"
                      "bond"
                      "flaw"
}

.personality textarea {
  border: none;
  margin: 0px 5px 0px 5px;
  width: 210px;
  height: 60px;
  resize: none;
  padding: 0;
}

.personality span {
  display: block;
  text-align: center;
  margin-bottom: 0px;
  font-size: 8pt;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin-top: 5px;
}

.trait { 
  grid-area: trait;
  background: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/4RCRsAd.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ideal { 
  grid-area: ideal; 
  background: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/4988JS0.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bond { 
  grid-area: bond; 
  background: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/4988JS0.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flaw { 
  grid-area: flaw;
  background: url("https://raw.githubusercontent.com/mperes/Images-for-Roll20-5E-images/master/gw9HTsq.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.languages { grid-area: languages; }


/***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****
***** ***** ***** ***** ***** ***** ***** GENERAL ***** *****  ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** 
***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** *****/
.section {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.section label{
  font-size: 8pt;
  text-align: center;
}

.wordbutton {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
}